@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --scyan: hsl(171, 66%, 44%);
  --lblue: hsl(233, 100%, 69%);
  --dgblue: hsl(210, 10%, 33%);
  --gblue: hsl(201, 11%, 66%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 14px;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
}

h1, h2, h3 {
  color: var(--dgblue);
}

h1 {
  font-size: 3.18rem;
  margin-top: 1.2em;
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

p {
  color: var(--gblue);
}

a {
  text-decoration: none;
  color: var(--dgblue);
}

a:hover {
  color: var(--scyan);
}

.btn {
  width: 225px;
  height: 55px;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.815);
  outline: none;
  cursor: pointer;
  border: 2px solid hsla(160, 4%, 14%, 0.144);
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.137);
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 20px rgba(14, 187, 80, 0.349);
}

.buttons {
  margin-top: 3.5em;
}

.ios {
  background-color: var(--scyan);
}

.mac {
  background-color: var(--lblue);
  margin-left: 15px; 
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10.2em;
}

.container main {
  display: flex;
  flex-direction: column;
  gap: 6em;
}

/* HEADER */

.container header {
  background: url(/images/bg-header-desktop.png) no-repeat;
  background-size: 100%;
  text-align: center;
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.container header .logo {
  margin-top: 9.2em;
}

.container header .header-text {
  font-size: 1.38rem;
  max-width: 700px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  margin-top: 1em;
  
}

/* SNIPPETS */

.container main .snippets {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "text text"
    "comp aside";
  gap: 5.5em 0;
  justify-items: center;
  
}

main .snippets .snippets-text {
  grid-area: text;
  text-align: center;
  font-size: 1.3rem;
  max-width: 700px;
  line-height: 1.7;
  
}

main .snippets .comp {
  grid-area: comp;
  

}

main .snippets .aside {
  grid-area: aside;
  margin-top: 5rem;


}

main .snippets .aside > * {
  margin-bottom: 4rem;
  
}

main .snippets .aside .aside-text p {
  font-size: 1.1rem;
  line-height: 2;
}

.comp img, .device img {
  width: 100%;
}

/* ACCESS */

.container main .access {
  margin-top: 4rem;
  font-size: 1.3rem;
  display: grid;
  place-items: center;
  

}

.container main .access .access-text {
  max-width: 678px;
  text-align: center;
  
}

.container main .access .access-text p {
  line-height: 1.7;
}

.container main .access .device {
  margin-top: 8rem;
}

/* TOOLS */

.container main .tools {
  max-width: 1100px;
  text-align: center;
  place-items: center;
  align-self: center;
  
}

.container main .tools .tools-title p {
  line-height: 3;
  font-size: 1.3rem;
}

main .tools .tools-grid {
  font-size: 1.1rem;
  line-height: 2;
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

main .tools .tools-grid .tools-text {
  max-width: 330px;
}

main .tools .tools-grid .tools-text .tools-icon {
  margin-bottom: 1.2rem;
}

.container main .logos {
  display: flex;
  justify-content: center;
  gap: 5em;
  margin: 5.3rem 0;
}

.container main .clipboard {
  align-self: center;
  text-align: center;
  font-size: 1.2rem;
  max-width: 680px;
}

.container main .clipboard .clip-text {
  line-height: 1.7;
}

.container footer {
  background-color: rgba(248, 236, 236, 0.438);
  height: 150px;
  display: grid;
  grid-template-columns: 10% auto 10%;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 0 5rem;
  
}

.container footer .footer-logo {
  width: 55px;
  height: 55px;
}

.container footer .footer-logo img {
  width: 100%;
}

.container footer .links {
  font-size: 1.3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

}

.container footer .icons > * {
  margin-left: 1rem;
  cursor: pointer;

}

.att {
  background-color:rgba(37, 37, 37, 0.863);
}


@media (max-width: 1480px) {
  main .snippets .comp {
      margin-left: -4.5%;
 }
  main .snippets .aside {
      max-width: 330px;
      margin-left: -12rem;
 }
}
@media (max-width: 1279px) {
  .container main {
      padding: 0rem 5rem;
 }
  .mac {
      margin-top: 1rem;
      margin-left: initial;
 }
  .container main .snippets {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
 }
  main .snippets .comp {
      margin-left: initial;
 }
  main .snippets .aside {
      margin-left: initial;
      max-width: initial;
      text-align: center;
 }
  main .tools .tools-grid {
      flex-direction: column;
 }
  .container main .logos {
      flex-direction: column;
      justify-content: center;
      align-items: center;
 }
  .container footer {
      height: initial;
      width: 100%;
      align-self: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      place-items: center;
      padding: initial;
 }
  .container footer .links {
      text-align: center;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
 }
  @media (max-width: 1023px) {
      html, body {
          font-size: 12px;
     }
 }
}
