.app {
  width: 34rem;
  height: 66rem;
  background-color: $light-grayish-violet;
  border-radius: 3rem;
  border: 1.2rem solid $white;
  overflow: hidden;
  margin-right: 10rem;
  padding: 1rem;
  z-index: 100;
  box-shadow: $shadow;

  display: flex;
  flex-direction: column;
}
