.chat {
    display: flex;
    flex-direction: column;
}

.send {
    color: $moderate-violet;
    padding: .8rem 1.5rem;
    margin: .5rem 0;
    border-radius: 1rem;
    background-color: hsla(276, 100%, 81%, 0.185);
    max-width: 50%;

    p {
        font-size: 1rem;
        line-height: 1.4;
    }
}

.rec {
    display: flex;
    max-width: 50%;
    align-self: flex-end;

    &__img {
        border-radius: 1rem;
        margin-bottom: .5rem;
        overflow: hidden;

        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__text-box {
        color: $desaturated-dark-violet;
        padding: .8rem 1.5rem;
        background-color: $white;
        margin: .5rem 0;
        border-radius: 1rem;
        font-size: 1rem;
        line-height: 1.4;
    }
}