.header {
    display: flex;
    padding: 3rem;
    margin-bottom: 1rem;
    box-shadow: $shadow;
    background-image: linear-gradient(
        160deg,
        $Light-magenta 0%,
        $light-violet 90%
      );

    &__avatar {
        width: 3rem;
        margin-right: 1rem;
        position: relative;
         
        img {
            border: 1px solid $white;
            border-radius: 50%;
        }

        &::before {
            content: "<";
            position: absolute;
            top: 1rem;
            left: -6px;
            color: $white;
    
        }
    }

    &__user {

        &--title {
            font-size: 1rem;
            color: $pale-violet;
        }
    }
}