.message {
  input {
    padding: 1.2rem 2rem;
    min-width: 100%;
    outline: none;
    border-radius: 2rem;
    border: 1px solid transparent;
    background-color: $white;
    color: $grayish-blue;
    font: inherit;
    font-size: 1.3rem;
    caret-color: $very-dark-desaturated-violet;

    &:focus {
      border: 1px solid $grayish-blue;
    }
  }

  button {
    margin-left: -4rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: $very-dark-desaturated-violet;
    color: $white;
    font-weight: 700;
    cursor: pointer;
  }
}
