@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

h1 {
  font-size: 4rem;
  font-weight: 500;
  color: $very-dark-desaturated-violet;
  line-height: 1;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1rem;
  font-weight: 500;
  color: $white;
}

.mt {
  margin-top: 0.5rem;
}
