@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --borange: hsl(31, 77%, 52%);
    --dcyan: hsl(184, 100%, 22%);
    --vdcyan: hsl(179, 100%, 13%);
    --twhite: hsla(0, 0%, 100%, 0.75);
    --vlgray: hsl(0, 0%, 95%);

}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    display: grid;
    place-items: center;
    background-color: var(--vlgray);
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    
}

.orange {
    background-color: var(--borange);
    border-radius: 8px 0px 0px 8px;

}

.cyan {
    background-color: var(--dcyan);
}

.dark {
    background-color: var(--vdcyan);
    border-radius: 0px 8px 8px 0px;
}

p {
    color: var(--twhite);
    line-height: 1.7;
    margin-bottom: 80px ;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color: var(--vlgray);
    font-size: 2.4rem;
    letter-spacing: 1px;
}

button {
    background-color: var(--vlgray);
    outline: none;
    border: none;
    border-radius: 30px;
    width: 145px;
    height: 48px;
    font-size: 1rem;
    font-weight: 700;  
    cursor: pointer;
}

button:hover {
    background-color:  hsla(0, 0%, 100%, 0);
    border: 2px solid var(--vlgray);
    color: var(--twhite);
    
}

.btn-1 {
    color: var(--borange);
}

.btn-2, .btn-3{
    color: var(--dcyan);
}

.container {
    display: flex;
    max-width: 920px;
    height: 500px;
    border: 1px solid  hsla(179, 100%, 13%, 0.158);
    border-radius: 8px;
}

.box {
    padding: 45px;
}

@media (max-width:790px) {

    .container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100%;
        margin-top: 25%;
        border: none;
    }

    p {
        margin-bottom: 1rem;
    }

    .orange {
        border-radius: 8px 8px 0px 0px;
    
    }

    .dark {
        background-color: var(--vdcyan);
        border-radius: 0px 0px 8px 8px;
        
    }

    .box {
        width: 300px;
        
    }
}

